*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --vermelho:#c40024;
    --preto:#0f0f10;
    --card:#1b1b1d;
    --branco:#ffffff;
    --cinza:#bfbfbf;
}

html{
    scroll-behavior:smooth;
}

body{
    background:var(--preto);
    color:var(--branco);
    font-family:'Poppins',sans-serif;
    padding-bottom:90px;
}

.header{
    background:var(--vermelho);
    padding:22px;
    text-align:center;
}

.logo h1{
    font-family:'Oswald',sans-serif;
    font-size:52px;
    letter-spacing:2px;
}

.logo p{
    margin-top:8px;
    font-size:18px;
}

.hero{
    background:linear-gradient(180deg,#c40024 0%,#2d0009 55%,#0f0f10 100%);
    padding:40px 20px;
}

.hero-info{
    max-width:1200px;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

.jogador{
    width:250px;
    height:250px;
    object-fit:cover;
    object-position:center top;

    border-radius:50%;

    display:block;
    margin:0 auto 30px auto;

    border:5px solid #c40024;

    box-shadow:0 0 25px rgba(196,0,36,.5);
}

}
.hero-text{
    max-width:550px;
}

.categoria{
    display:inline-block;
    background:#fff;
    color:var(--vermelho);
    padding:6px 15px;
    border-radius:30px;
    font-weight:700;
    font-size:13px;
    margin-bottom:15px;
}

.hero-text h2{
    font-family:'Oswald',sans-serif;
    font-size:82px;
    line-height:1;
}

.hero-text h3{
    margin:15px 0;
    font-size:30px;
}

.hero-text p{
    color:#ededed;
    font-size:20px;
    line-height:34px;
}

.btn{
    display:inline-block;
    margin-top:25px;
    background:#fff;
    color:var(--vermelho);
    text-decoration:none;
    padding:15px 30px;
    border-radius:12px;
    font-weight:700;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-3px);
}.stats,
.partidas,
.classificacao,
.noticias{
    max-width:1200px;
    margin:40px auto;
    padding:0 20px;
}

.stats h2,
.partidas h2,
.classificacao h2,
.noticias h2{
    font-family:'Oswald',sans-serif;
    font-size:42px;
    margin-bottom:20px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:18px;
}

.card{
    background:var(--card);
    padding:25px;
    border-radius:18px;
    text-align:center;
    transition:.3s;
}

.card:hover{
    transform:translateY(-6px);
}

.card h3{
    color:#ff5252;
    font-size:38px;
}

.card p{
    margin-top:10px;
    color:var(--cinza);
}

.jogo{
    background:var(--card);
    padding:22px;
    border-radius:18px;
    margin-bottom:18px;
}

.tag{
    display:inline-block;
    background:#333;
    padding:8px 14px;
    border-radius:10px;
    font-size:12px;
    margin-bottom:14px;
}

.tag.vermelho{
    background:var(--vermelho);
}

.jogo h3{
    font-size:28px;
}

.jogo p{
    margin-top:8px;
    color:var(--cinza);
}

.tabela{
    width:100%;
    border-collapse:collapse;
    background:var(--card);
    overflow:hidden;
    border-radius:18px;
}

.tabela th{
    background:var(--vermelho);
    padding:15px;
}

.tabela td{
    padding:15px;
    text-align:center;
    border-bottom:1px solid #2f2f2f;
}

.botafogo{
    background:#2d0009;
    font-weight:bold;
}

.noticia{
    background:var(--card);
    padding:22px;
    border-radius:18px;
}

.fonte{
    color:#ff5252;
    font-weight:bold;
}

.noticia h3{
    margin:12px 0;
    font-size:28px;
}

.noticia p{
    color:var(--cinza);
    line-height:30px;
}.menu{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background:#181818;
    border-top:3px solid var(--vermelho);
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:14px 0;
    z-index:999;
}

.menu a{
    color:#fff;
    text-decoration:none;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:4px;
    font-size:22px;
}

.menu span{
    font-size:12px;
    font-weight:600;
}

@media(max-width:768px){

    .hero-text{
        text-align:center;
    }

    .hero-text h2{
        font-size:56px;
    }

    .hero-text h3{
        font-size:22px;
    }

    .hero-text p{
        font-size:18px;
        line-height:30px;
    }

    .stats h2,
    .partidas h2,
    .classificacao h2,
    .noticias h2{
        font-size:34px;
    }

}

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-thumb{
    background:var(--vermelho);
}

::-webkit-scrollbar-track{
    background:#111;
}.jogo-extra{
    display:grid;
    grid-template-columns:2fr 70px 40px 70px 2fr;
    gap:10px;
    align-items:center;
    margin-bottom:15px;
}

.jogo-extra span{
    text-align:center;
    font-weight:bold;
    font-size:18px;
}

@media(max-width:768px){

    .jogo-extra{
        grid-template-columns:1fr;
    }

    .jogo-extra span{
        display:none;
    }

}
